body {
  color: white;
}

p {

}

.box {
  background-image: url(https://user-images.githubusercontent.com/60234990/82270385-a4ccd500-9942-11ea-8a45-75ffba9f25b7.jpeg);
  background-size: 500px;
  margin-top: 50px;
  margin-left: 70px;
  padding: 0px 0px 1140px 0px;
      /*   top  right bottom left */
}

.about {
  background-image: url(https://user-images.githubusercontent.com/60234990/82502666-a70b6c80-9ac5-11ea-8b31-26a63a92a71d.JPG);
  background-size: 500px;
  margin-top: 50px;
  margin-left: 70px;
  padding: 0px 0px 1140px 0px;
}




.title {
  font-size: 70px;
  color: blue;
  width: 1200px;
      }

a {
  color: blue;

}















/* uh */
